<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<!-- 
    The <router-outlet> directive tells the router where to display routed views.
    Angular directives are used to extend the power of the HTML by giving it new syntax.

    There are three different kind of directivas from angular 2 and upward:
    1. components.
    2. attribute directives
    3. structural directives
 -->
<router-outlet></router-outlet>
<app-messages></app-messages>